/* .ant-card ant-card-bordered{
    color: aqua;
} */

/* .ant-card-boardered{
    border: 10px;
} */
.UsageCard{
    padding-top: 2%;
}

.Usage_image{
    width: 140px;
    display: inline-block;
    
}
.dataGroupA{
    display: inline-block;
}
.data_shown{
    padding-left: 75%;
}

.AE_image{
    width: 140px;
    display: inline-block;
    
}
.dataGroupB{
    display: inline-block;
}
.AE_data_shown{
    padding-left: 75%;
}
